
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Sakha Cabs Dispatcher Dashboard
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="assets/css/material-dashboard.css" rel="stylesheet" />
    <link href="dist/css/pagination-style.css" rel="stylesheet">
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/css/dataTables.checkboxes.css" rel="stylesheet" />

    <style>
        .dropdown-menu {
          opacity: 1;
          filter: alpha(opacity=100);
          visibility: visible;
        }
        .wrap { width: 100%; height: 600px; padding: 0; overflow: hidden; float: left;}
        .frame { width: 1396px; height: 786px; border: 1px solid black}
        .frame {
                // zoom: 0.25;
                -moz-transform: scale(0.70);
                -moz-transform-origin: 0 0;
                -o-transform: scale(0.70);
                -o-transform-origin: 0 0;
                -webkit-transform: scale(0.70);
                -webkit-transform-origin: 0 0;
        }
    </style>

     <!-- CSS Includes -->
    <link rel="stylesheet" type="text/css" src="assets/css/jquery-ui.css">

    <!--  DataTables Includes  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" src="assets/css/select.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" src="assets/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.css">
    <link rel="stylesheet" type="text/css" href="assets/css/sakha.css">
    <script>
        var serverip="192.168.56.103"
        var assperpage=3
    </script>
</head>

<body class="">

    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white">
                <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
                -->
                <div class="logo">
                    <a href="#" class="simple-text logo-normal">
                        Sakha Dispatcher
                    </a>
                </div>
            <div class="sidebar-wrapper">
                <!-- your sidebar here -->
                <ul class="nav">
                    <li class="nav-item active" id="dashboardnavitem">
                        <a class="nav-link" href="#0">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item" id="createassignmentnavitem">
                        <a class="nav-link" data-toggle="modal" data-target="#createassignmentform" data-assignmentid="newassignment">
                            <i class="material-icons">content_paste</i>
                            <p>Create Assignment</p>
                        </a>
                    </li>
                    <li class="nav-item" id="createdrivernavitem">
                        <a class="nav-link" data-toggle="modal" data-target="#createdriverform" data-driverid="newdriver">
                            <i class="material-icons">content_paste</i>
                            <p>Create Driver</p>
                        </a>
                    </li>
                    <li class="nav-item" id="managedriversnavitem">
                        <a class="nav-link" href="./managedrivers.html">
                            <i class="material-icons">content_paste</i>
                            <p>Manage Drivers</p>
                        </a>
                    </li>

                    <li class="nav-item" id="createbookingsnavitem">
                        <a class="nav-link" href="../bookingweb">
                            <i class="material-icons">content_paste</i>
                            <p>Create Bookings</p>
                        </a>
                    </li>
                    <li class="nav-item" id="managebookingsnavitem">
                        <a class="nav-link" href="./managebookings.html">
                            <i class="material-icons">content_paste</i>
                            <p>Manage Bookings</p>
                        </a>
                    </li>
                    <li class="nav-item" id="managevehiclesnavitem">
                        <a class="nav-link" href="./managevehicles.html">
                            <i class="material-icons">content_paste</i>
                            <p>Manage Vehicles</p>
                        </a>
                    </li>
                    <li class="nav-item" id="managecustomersnavitem">
                        <a class="nav-link" href="./managecustomers.html">
                            <i class="material-icons">content_paste</i>
                            <p>Manage Customers</p>
                        </a>
                    </li>
                    <li class="nav-item" id="manageproductsnavitem">
                        <a class="nav-link" href="./manageproducts.html">
                            <i class="material-icons">content_paste</i>
                            <p>Manage Products</p>
                        </a>
                    </li>
                    <li class="nav-item" id="manageinvoicesnavitem">
                        <a class="nav-link" href="./manageinvoices.html">
                            <i class="material-icons">content_paste</i>
                            <p>Manage Invoices</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- Modals -->







        <div class="modal fade" id="createassignmentform" tabindex="-1" role="dialog" aria-labelledby="Create Assignment">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">

                    <h4 class="modal-title" id="createassignmentlabel">Alter Assignment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 </div>
                  <div class="modal-body">
                    <form>


                    <div class="row" style="min-height: 500px">
                      <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                              <h4 class="card-title">Bookings</h4>
                              <p class="card-category">Current Bookings</p>
                            </div>
                            <div class="card-body table-responsive">
                               <table class="table table-striped" id="bookinglist">
                                    <thead>
                                        <th>Selected</th>
                                        <th>Pickup Time</th>
                                        <th >Pickup Location</th>
                                        <th >Drop Location</th>
                                        <th >Passenger Detail</th>
                                        <th >Customer ID</th>
                                        <th >Booking ID</th>
                                        <th >Assignment ID</th>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Assign Dutyslips</h4>
                                <p class="card-category">Driver status</p>
                            </div>
                            <div class="card-body ">
                                <table class="table-striped" id="dutysliplist">
                                    <thead>
                                        <th>Assign Driver</th>
                                       <th>Driver ID</th>
                                        <th>Status</th>
                                         <th>Assign Vehicle</th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                      </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">



                         <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Assignment Details</h4>
                                <p class="card-category">This Assignment</p>
                            </div>
                            <div class="card-body" id="assignmentdetail">
                                <p><b>Reporting Time</b><span id="reporting_timestamp"></span> </p>
                                <p><b>Reporting Location</b><span id="reporting_location"></span> </p>
                            </div>
                      </div>
                      </div>


                    </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="sakha.saveAssignment()">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
        <div class="modal fade" id="createdriverform" tabindex="-1" role="dialog" aria-labelledby="Create Driver">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 </div>
                  <div class="modal-body">

                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Edit Driver Profile</h4>
                     <div id="driverstatus" class="card-category"></div>
                    </div>
                    <div class="card-body">
                      <form id="driverform">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-floating">Driver ID</label>
                              <input type="text" class="form-control" id="driverid" require="true">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-floating">Mobile Num</label>
                              <input type="text" class="form-control" id="mobnum">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-floating">First Name</label>
                              <input type="text" class="form-control" id="firstname">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-floating">Last Name</label>
                              <input type="text" class="form-control" id="lastname">
                            </div>
                          </div>
                        </div>
                    </form>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="savedriver">Save changes</button>
                  </div>
                </div>
              </div>



        </div>
        <div class="modal fade" id="editdutyslipform" tabindex="-1" role="dialog" aria-labelledby="Edit Duty Slip">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 </div>
                  <div class="modal-body">

                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Edit Duty Slip</h4>
                      <h5 class="card-category"><span id="created_time"><b>Created at: </b></span></h5>
                    </div>
                    <div class="card-body">
                        <form id="dutyslipform">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Status</label>

                                    <select class="form-control" id="status">
                                        <option value="verified">VERIFIED</option>
                                        <option value="closed">CLOSED</option>
                                        <option value="open">OPEN</option>
                                        <option value="new">NEW</option>
                                    </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Duty Slip ID</label>
                                  <input type="text" class="form-control" id="dutyslip_id" require="true">
                                </div>
                              </div>

                             <div class="col-md-3">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Driver ID</label>
                                  <input type="text" readonly class="form-control" id="driver" require="true">
                                </div>
                              </div>
                            <div class="col-md-3">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Vehicle ID</label>
                                  <input type="text" class="form-control" id="vehicle" require="true">
                                </div>
                              </div>

                              <div class="col-md-3">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Created Time</label>

                                 <!-- <input type="text" class="form-control" id="created_time">-->
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Open Time</label>
                                  <input type="text" class="form-control" id="open_time" require="true" onchange="updateDSTotals()">

                                 </div>
                              </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Close Time</label>
                                  <input type="text" class="form-control" id="close_time" require="true" onchange="updateDSTotals()">
                                </div>
                              </div>

                              <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Total Time</label>

                                  <input type="text" class="form-control" readonly id="total_time">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Open KMs</label>
                                  <input type="text" class="form-control" id="open_kms" require="true" onchange="updateDSTotals()">
                                </div>
                              </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Close KMs</label>
                                  <input type="text" class="form-control" id="close_kms" require="true" onchange="updateDSTotals()">
                                </div>
                              </div>

                              <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Total KMs</label>
                                  <input type="text" class="form-control" readonly id="total_kms" onselect="updateDSTotals()">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Parking Charges</label>
                                  <input type="text" class="form-control" id="parking_charges" require="true">
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Toll Charges</label>
                                  <input type="text" class="form-control" id="toll_charges">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Payment Mode</label>
                                  <input type="text" class="form-control" id="payment_mode" require="true">
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                  <label class="bmd-label-floating">Amount Collected</label>
                                  <input type="text" class="form-control" id="amount">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                      <label class="bmd-label-floating">Remarks</label>
                                        <textarea rows=5 class="form-control" id="ds_remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="savedutyslip">Save changes</button>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="createvehicleform" tabindex="-1" role="dialog" aria-labelledby="Create vehicle">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       </div>
                        <div class="modal-body">

                          <div class="card-header card-header-primary">
                            <h4 class="card-title">Edit Vehicle Profile</h4>
                           <div id="vehstatus" class="card-category"></div>
                          </div>
                          <div class="card-body">
                            <form id="vehform">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Vehicle ID</label>
                                    <input type="text" class="form-control" id="vehid" require="true">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Vehicle Category</label>
                                    <input type="text" class="form-control" id="vehcat">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Vehicle Name</label>
                                    <input type="text" class="form-control" id="vehname">
                                  </div>
                                </div>

                              </div>
                          </form>
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="savevehicle">Save changes</button>
                        </div>
                      </div>
                    </div>

<script>
function updateDSTotals(){
  console.log("Updating time")

$("#total_time").val(moment($("#close_time").val()).diff(moment($("#open_time").val()),"hours",true).toFixed(2));
$("#total_kms").val(parseFloat($("#close_kms").val())-parseFloat($("#open_kms").val()))
}

</script>

        </div>
        <div class="modal fade" id="editbookingform" tabindex="-1" role="dialog" aria-labelledby="Edit Duty Slip">
            <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
          <div class="modal-body">

            <div class="card-header card-header-primary">
              <h4 class="card-title">Edit Booking ID: <span id="booking_id"></span> </h4>
              <h5 class="card-category"><b>Created at: </b><span id="booking_created_timestamp"></span></h5>
            </div>
            <div class="card-body">
                <form id="bookingform">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Status</label>

                            <select class="form-control" id="booking_status">
                                <option value="verified">VERIFIED</option>
                                <option value="cancelled">CANCELLED</option>
                                <option value="closed">CLOSED</option>
                                <option value="open">OPEN</option>
                                <option value="new">NEW</option>
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">

                     <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Customer ID</label>
                          <input type="text" class="form-control" id="booking_cust_id" readonly require="true">
                        </div>
                      </div>
                    <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Product ID</label>
                          <input type="text" class="form-control" id="booking_product_id" readonly require="true">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Pickup Time</label>
                          <input type="text" class="form-control" id="booking_pickup_timestamp" require="true">

                         </div>
                      </div>
                    </div>
                    <div class="row">

                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Pickup Location</label>
                            <textarea rows="2" class="form-control" id="booking_pickup_location" require="true"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">

                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Drop Location</label>
                            <textarea rows="2" class="form-control" id="booking_drop_location" require="true"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                          <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-floating">Passenger Detail</label>
                                <textarea rows="4" class="form-control" id="booking_passenger_detail" require="true"></textarea>
                            </div>
                          </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-floating">Customer Meta Data</label>
                                <textarea rows="4" class="form-control" id="booking_cust_meta" require="true"></textarea>
                            </div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-floating">Passenger Mobile</label>
                              <input type="text" class="form-control" id="booking_passenger_mobile" require="true">
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-floating">Booking Channel</label>
                              <input type="text" class="form-control" readonly id="booking_channel">
                            </div>
                          </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Remarks</label>
                            <textarea rows=5 class="form-control" id="booking_remarks"></textarea>
                        </div>

                        </div>
                    </div>
                </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="savebooking">Save changes</button>
          </div>
        </div>
      </div>



        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <a class="navbar-brand" href="#pablo">Dashboard</a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                      <i class="material-icons">notifications</i> Notifications
                    </a>
                  </li>
                  <!-- your navbar here -->
                </ul>
              </div>
            </div>

            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <!-- your content here -->
                    <div class="row" id="mapmyindia">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                  <h4 class="card-title">Map My India </h4>
                                  <p class="card-category">From their API</p>
                                </div>
                                 <div class="card-body">
                                     <div class="wrap">
                                         <iframe class="frame" src="https://fleet.mapmyindia.com"></iframe>
                                        </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row" id="assignmentsection">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                  <h4 class="card-title">Assignments</h4>
                                  <p class="card-category">Current Assignments</p>
                                </div>
                                 <div class="card-body">
                                      <main role="main" id="pagination-app">

                                        <div class="container" v-cloak>

                                           <div class="row">
                                               <div class="col-sm-4 small-cols">
                                                    <p class="text-right">Sort By: </p >
                                                </div>
                                                <div class="col-sm-4 small-cols">
                                                    <select id="assign_sort" name="assign_sort" class="form-control" onchange="sortAssignments()">
                                                        <option value="created_timestamp">Created Time</option>
                                                        <option value="reporting_timestamp" selected="selected">Reporting Time</option>
                                                    </select>
                                                </div>
                                               <div class="col-sm-4 small-cols">
                                                    <select id="assign_order" name="assign_order" class="form-control" onchange="sortAssignments()">
                                                        <option value="ascending" selected="selected">Ascending</option>
                                                        <option value="descending">Descending</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4" v-for="post in displayedPosts">
                                                  <div class="card mb-4 box-shadow post-cards">
                                                    <!-- <img class="card-img-top" src="dist/img/placeholder-blue-800x600px.png" alt="Card image cap"> -->
                                                    <div class="card-header" v-bind:class="'card-header-'+post.assignment.status">
                                                                <h4 class="card-title">{{post.assignment.cust_id.toUpperCase()}}</h4>
                                                                <h5 class="card-title"><b>RT: </b>  {{moment(post.assignment.reporting_timestamp.$date).format('MMM DD YYYY, h:mm:ss a')}}</h5>
                                                                <h5 class="card-title"><b>CT: </b> {{moment(post.assignment.created_timestamp.$date).format('MMM DD YYYY, h:mm:ss a')}}</h5>
                                                                <h5><b>Status: </b>{{post.assignment.status}}</h5>
                                                            </div>

                                                      <div class="card-body">
                                                        <div class="container">
                                                            <div class="row">
                                                               <div class="btn-group">

                                                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                                                        @click="sakha.deleteAssignment(post.assignment._id.$oid)">Delete</button>

                                                                <button type="button" class="btn btn-sm btn-outline-secondary" @click="sakha.updateAssignmentStatus(post.assignment._id.$oid,'cancelled')">Cancel</button>
                                                                    <button type="button" class="btn btn-sm btn-outline-secondary" @click="sakha.updateAssignmentStatus(post.assignment._id.$oid,'closed')">Mark Closed</button>
                                                                <button type="button" class="btn btn-sm btn-outline-secondary" @click="sakha.updateAssignmentStatus(post.assignment._id.$oid,'new')">Mark New</button>
                                                                <button type="button" class="btn btn-sm btn-outline-secondary" @click="sakha.updateAssignmentStatus(post.assignment._id.$oid,'open')">Mark Open</button>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="row">
                                                                    <h5 class="card-title">Bookings</h5>
                                                                    </div>
                                                                    <div class="row" v-for="booking in post.assignment.bookings">
                                                                        <div class="col-lg-12">
                                                                      <div class="card">
                                                                          <div v-bind:class="'card-header-'+booking.status">{{booking.booking_id}}</div>
                                                                          <div class="card-body">
                                                                              <b>Pickup Time:</b> <span>{{moment(booking.pickup_timestamp.$date).format('MMM DD YYYY, h:mm:ss a')}}</span>
                                                                              <br><b> Passenger Detail:</b><span>{{booking.passenger_detail}}</span>

                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="row">
                                                                    <h5 class="card-title">Duty Slips</h5>
                                                                    </div>
                                                            <div class="row" v-for="dutyslip in post.dutyslips">
                                                                    <div class="col-lg-12">
                                                                    <div class="card">
                                                                        <div v-bind:class="'card-header-'+dutyslip.status">{{dutyslip.dutyslip_id}}</div>
                                                                        <div class="card-body">

                                                                            <b>Driver: </b><span>{{dutyslip.driver}}</span>
                                                                            <b>Vehicle: </b><span>{{dutyslip.vehicle}}</span>
                                                                          <div v-if="dutyslip.open_time && dutyslip.open_kms && dutyslip.close_time && dutyslip.close_kms">
                                                                            <br><b>Open Time: </b><span>{{moment(dutyslip.open_time.$date).format('MMMM Do YYYY, h:mm:ss a')}}</span>
                                                                            <br><b>KMS: </b><span>{{dutyslip.close_kms-dutyslip.open_kms}}</span>
                                                                            <b>HRS: </b><span>{{moment(dutyslip.close_time.$date).diff(moment(dutyslip.open_time.$date),"hours",true).toFixed(2)}}</span>
                                                                              </div>
                                                                        </div>
                                                                    </div>
                                                                        </div>

                                                            </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  </div>

                                                </div>
                                            </div>
                                            <div class="clearfix btn-group col-md-2 offset-md-5">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" v-if="page != 1" @click="page--"> << </button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> {{pageNumber}} </button>
                                            <button type="button" @click="page++" v-if="page < pages.length" class="btn btn-sm btn-outline-secondary"> >> </button>
                                          </div>

                                        </div>

                                     </main>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" id="dutyslipsection">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                  <h4 class="card-title">Duty Slips</h4>
                                  <p class="card-category">Current Duty Slips</p>
                                </div>
                                <div class="card-body table-responsive">
                                   <table class="table table-striped" id="dutysliptable" style="width: 100%">
                                        <thead>
                                            <th style="width: 5%">Duty Slip ID</th>

                                            <th style="width: 20%">Created Time</th>
                                            <th style="width: 5%">Driver</th>
                                            <th style="width: 5%">Status</th>
                                            <th style="width: 20%">Open Time</th>
                                            <th style="width: 15%">Close Time</th>
                                            <th style="width: 7.5%">Open KMs</th>
                                            <th style="width: 7.5%">Close KMs</th>
                                            <th style="width: 5%">Payment Mode</th>
                                            <th style="width: 5%">Amount Collected</th>
                                            <th style="width: 5%">Actions</th>

                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="bookingslocupdates">
                    <!-- Bookings -->
                        <div class="col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                  <h4 class="card-title">Bookings</h4>
                                  <p class="card-category">Current Bookings</p>
                                    <button id="exportbookings">Export</button>
                                </div>
                                <div class="card-body table-responsive">
                                   <table class="table table-striped" id="bookingtable">
                                        <thead>
                                            <th style="width: 5%">Actions</th>
                                            <th style="width: 10%">Booking ID</th>
                                            <th style="width: 15%">Pickup Time</th>
                                            <th style="width: 25%">Pickup Location</th>
                                            <th style="width: 25%">Passenger Detail</th>
                                            <th style="width: 10%">Customer ID</th>
                                            <th style="width: 10%">Assignment ID</th>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Location Update -->
                        <div class="col-lg-6 col-md-12">
                          <div class="card">
                            <div class="card-header card-header-primary">
                              <h4 class="card-title">Driver Updates</h4>
                              <p class="card-category">Latest updates from drivers</p>
                                <button id="exportlocupdates">Export</button>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover " id="locationupdatetable">
                                    <thead>
                                       <th>Driver ID</th>
                                        <th>Type</th>
                                        <th>Time</th>
                                        <th>Location</th>
                                        <th>Vehicle ID</th>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                          </div>

                        </div>

                    </div>
                    <div class="row" id="drivervehicle">
                        <!-- Driver Status -->
                        <div class="col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Driver Status</h4>
                                    <p class="card-category">Driver status</p>
                                    <button id="exportdrivers">Export</button>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class=" table table-hover" id="drivertable">
                                        <thead>
                                           <th>Driver ID</th>
                                            <th>Mobile Number</th>
                                           <th>Checked In</th>
                                            <th>On Duty</th>
                                            <th>Actions</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                          </div>

                        </div>
                        <!-- Vehicles -->
                        <div class="col-lg-6 col-md-12">
                          <div class="card">
                            <div class="card-header card-header-primary">
                              <h4 class="card-title">Vehicle Status</h4>
                              <p class="card-category">Status of fleet vehicles</p>
                                <button id="exportvehicles">Export</button>
                            </div>
                            <div class="card-body table-responsive">
                                 <table class="table table-hover table-striped" id="vehicletable">
                                    <thead>
                                       <th>Vehicle ID</th>
                                       <th>Driver</th>
                                        <th>Registration Num</th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                          </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                <ul>
                  <li>
                    <a href="https://www.sakhaconsultingwings.com">
                     Sakha Cabs
                    </a>
                  </li>
                </ul>

                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>,
                        <a href="https://www.sakhaconsultingwings.com" target="_blank">Sakha Consulting Wings</a>

                    </div>
              <!-- your footer here -->
                </div>
            </footer>

        </div>
    </div>
    <div class="loader_container" id="loader">
        <center>Processing
        <div class='loader'></div>
        </center>
    <div>
    <!--   Core JS Files   -->
    <!--
    <script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
    -->



    <!--That on which all depends-->
    <script src="assets/js/core/popper.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf8" src="assets/js/moment-with-locales.min.js"></script>

    <!-- Jquery includes -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>

    <!--Bootstrap Includes-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="assets/js/plugins/bootstrap-notify.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <!--
    <script src="assets/js/core/bootstrap-material-design.js" type="text/javascript"></script>

    <script src="assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    -->
    <!-- That on which much depends -->
    <!--For assignments card pagination using pagination.js-->
    <script src="dist/js/vue.min.js"></script>
    <script src="dist/js/axios.min.js"></script>

    <!--DataTables includes-->
    <script type="text/javascript" charset="utf8" src="assets/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="assets/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>
    <!-- That which depends -->
    <script src="assets/js/material-dashboard.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.js"></script>


    <script src="assets/js/sakha.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>-->


    <script>
        var sort_field="reporting_timestamp"
        var sort_order="ascending"
    </script>
    <script src="dist/js/pagination.js"></script>
    <script>
        var sortAssignments=function(){
            sort_order=$("#assign_order").val()
            sort_field=$("#assign_sort").val()
            console.log("Re-getting assignments")
            paginationApp.getPosts()
        }
    </script>
    <script type="text/javascript">
    $("#loader").hide()
        var assignmentdict={}
        assignmentdict['assignment']={}
        assignmentdict.assignment['bookings']=[]
        assignmentdict['dutyslips']=[]
    	$(document).ready(function(){
            sakha.fillData();
            $('#createassignmentform').on('show.bs.modal', function (event) {
                var eventsrc = $(event.relatedTarget) // Button that triggered the modal
                var assignmentid = eventsrc.data('assignmentid') // Extract info from data-* attributes
                    $("#dashboardnavitem").toggleClass("active")
                    $("#createassignmentnavitem").toggleClass("active")

                    $(".modal-dialog").draggable({
                        handle: ".modal-header"
                    })
                    sakha.fillAssignmentModal(assignmentid)
            })
            $("#createdriverform").on('show.bs.modal', function (event){
                    var eventsrc = $(event.relatedTarget) // Button that triggered the modal
                    var driverid = eventsrc.data('driverid') // Extract info from data-* attributes
                    $("#dashboardnavitem").toggleClass("active")
                    $("#createdrivernavitem").toggleClass("active")

                    $(".modal-dialog").draggable({
                        handle: ".modal-header"
                    })
                    sakha.fillDriverModal(driverid)

            })
            $('#createassignmentform').on('hide.bs.modal', function (event) {
                    window.location.reload(false);
            })
            $("#createdriverform").on('hide.bs.modal', function (event) {
                    document.getElementById("driverform").reset()
                    window.location.reload(false);
            })
            $("#editdutyslipform").on('show.bs.modal', function (event) {
                $('#datetimepicker3').datetimepicker({format: 'YYYY-MM-DD HH:mm'});

                console.log("editing duty slip in modal")
                var eventsrc = $(event.relatedTarget) // Button that triggered the modal
                var dsid = eventsrc.data('dsid') // Extract info from data-* attributes
                console.log(dsid)

                sakha.fillDutySlipModal(dsid)

            })
            $("#editdutyslipform").on('hide.bs.modal', function (event) {
                console.log("closing duty slip modal")
                document.getElementById("dutyslipform").reset()
                window.location.reload(false);
            })
            $("#editbookingform").on('show.bs.modal', function (event) {
                console.log("editing booking in modal")
                var eventsrc = $(event.relatedTarget) // Button that triggered the modal
                var bookingid = eventsrc.data('bookingid') // Extract info from data-* attributes
                console.log(bookingid)
                sakha.fillBookingModal(bookingid)
            })
            $("#editbookingform").on('hide.bs.modal', function (event) {
                document.getElementById("bookingform").reset()
                console.log("closing booking  modal")
                window.location.reload(false);
            })
    	});
	</script>
</body>
</html>
