<!DOCTYPE html>
<html style="" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8"><meta name="description" content="">
    <title>Invoicing | Sakha Consulting Wings</title>


   
    <!-- Bootstrap core CSS 
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
   <link rel="stylesheet" href="dist/css/mdi-icons.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.css" />
   
    
    
    <style>
        .row {
            padding: .25em;
        }
    </style>
    <link href="dist/css/pagination-style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/sakha.css">

    
</head>
<body>
    
    
    
    <!-- <script src="dist/js/jquery.min.js"></script>
    <script src="dist/js/popper.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
   
    -->
    <script src="dist/js/vue.min.js"></script>
    <script src="dist/js/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.js"></script>
   
   
    <script src="assets/js/sakha.js"></script>
    
    
    <main role="main" id="pagination-app">
        <div class="container">
            <div class="row">
                <div class="page-header clearfix">
                    <div class="col-sm-12 small-cols">
                    <h1 class="medium-bold-title">Generate Invoices</h1>
                    <span></span>
                </div>
                </div>
            </div>
              <div class="row">
                <div id="system_details" class="form-group clearfix">
                    <div class="row">
                        <div class="col-sm-12 small-cols">
                            <label>System Details</label>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-6 ">
                            <select name="cust_id" id="cust_id" class="form-control">
                                <option value="0" selected="selected">Select Customer</option>
                            </select>
                         
                            
                        </div>
                        <div class="col-sm-6 " id="cust_details"></div>
                    </div>
                         <div class="row">
                            <div class="col-sm-6 small-cols date-picker-wrap">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                        <input type="text" id="date_frm" class="form-control datetimepicker-input" placeholder="Date From" data-target="#datetimepicker1" />
                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 small-cols date-picker-wrap">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                        <input type="text" id="date_to" class="form-control datetimepicker-input" placeholder="Date To" data-target="#datetimepicker2" />
                                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-sm btn-outline-secondary" onclick="searchAssignments()">Search</button>
                        </div>


                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="album py-2 bg-light">
                        <div class="container" v-cloak>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Assignments</h3>
                              <button class="btn btn-sm btn-outline-secondary" onclick="addAll()">Add All</button>    
                                    </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6" v-for="post in displayedPosts">
                              <div class="card mb-4 box-shadow post-cards">
                                <!-- <img class="card-img-top" src="dist/img/placeholder-blue-800x600px.png" alt="Card image cap"> -->
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h5 class="capitalize">{{String.toUpperCase(post.assignment.cust_id)}}</h5>
                                                <p class="card-text">{{moment(post.assignment.reporting_timestamp.$date).format('MMMM Do YYYY, h:mm:ss a')}}</p>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" @click="addassignment(post.assignment._id.$oid)">Add Invoice Lines</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" @click="removeassignment(post.assignment._id.$oid)">Remove Invoice Lines</button>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                <h5 class="capitalize">Bookings</h5>
                                                </div>
                                                <div class="row" v-for="booking in post.assignment.bookings">
                                                    <div class="col-lg-12">
                                                  <div class="card">
                                                      <div class="card-header">{{booking.booking_id}}</div>
                                                      <div class="card-body">
                                                          <b>Pickup Time:</b> <span>{{moment(booking.pickup_timestamp.$date).format('MMMM Do YYYY, h:mm:ss a')}}</span>
                                                          <br><b> Passenger Detail:</b><span>{{booking.passenger_detail}}</span> 

                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                <h5 class="capitalize">Duty Slips</h5>
                                                </div>
                                        <div class="row" v-for="dutyslip in post.dutyslips">
                                                <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">{{dutyslip.dutyslip_id}}</div>
                                                    <div class="card-body">
                                                        
                                                        <b>Driver: </b><span>{{dutyslip.driver}}</span>
                                                        <br><b>Vehicle: </b><span>{{dutyslip.vehicle}}</span>
                                                        <br><b>Open Time: </b><span>{{moment(dutyslip.open_time.$date).format('MMMM Do YYYY, h:mm:ss a')}}</span>
                                                        <br><b>KMS: </b><span>{{dutyslip.close_kms-dutyslip.open_kms}}</span>
                                                        <br><b>HRS: </b><span>{{moment(dutyslip.close_time.$date).diff(moment(dutyslip.open_time.$date),"hours",true).toFixed(2)}}</span>
                                                    </div>
                                                </div>    
                                                    </div>
                                          
                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                            <div class="clearfix btn-group col-md-2 offset-md-5">
                            <button type="button" class="btn btn-sm btn-outline-secondary" v-if="page != 1" @click="page--"> << </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> {{pageNumber}} </button>
                            <button type="button" @click="page++" v-if="page < pages.length" class="btn btn-sm btn-outline-secondary"> >> </button>
                          </div>
                        </div>
                    </div>
                 
                </div>
                <div class="col-lg-6">
                    <div class="album py-2 bg-light">
                        
                       <div class="row">
                                <div class="col-md-12">
                                    <h3>Current Invoice</h3>
                                     <button class="btn btn-sm btn-outline-secondary" onclick="updateInvoice()">Update</button>    
                                    
                                    </div>
                            </div>
                        <div class="row">
                            <div class="col-md-12">
                              <div class="card mb-1 box-shadow post-cards">
                                <!-- <img class="card-img-top" src="dist/img/placeholder-blue-800x600px.png" alt="Card image cap"> -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 small-cols date-picker-wrap">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                                    <input type="text" id="date_frm" class="form-control datetimepicker-input" placeholder="Invoice Date" data-target="#datetimepicker3" />
                                                    <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body" id="invoicetable">
                                                <div class="row">
                                                     <div class="col-lg-12">
                                                    <table id="invoicelines" class="display" style="width:100%">
                                                        <thead>
                                                            <th>Date</th>
                                                            <th >Particulars</th>
                                                            <th >Product</th>
                                                            <th >Rate</th>
                                                            <th >Quantity</th>
                                                            <th >Amount</th>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                        
                                                         </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 px-5"><p class="text-right" id="invoicetotal"></p>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                         
                                        </div>
                                    </div>
                                    <div class="row">
                                        `
                                        <div class="col-md-12" id="invoice">
                                         
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>  
          
            <div class="row">


            
            </div>
        </div>
     </main>
   
   
    <script>
        var assignments=[]
        var current_invoice={}
        var search_query={}
        var table = null;
        var updateInvoice=function(){

                var http = new XMLHttpRequest(); //$.post("http://"+serverip+":5000/assignment",assignmentdict)
                var url = "http://"+serverip+":5000/invoice";
                var params = JSON.stringify(assignments);
                console.log(url)
                http.open("POST", url, true);

                //Send the proper header information along with the request
                http.setRequestHeader("Content-type", "application/json");
                http.onreadystatechange = function() {//Call a function when the state changes.
                    if(http.readyState == 4 && http.status == 200) {
                        /*$("#invoice").empty()
                        $("#invoice").append(http.responseText);*/
                        current_invoice=JSON.parse(http.responseText).resp
                            console.log(current_invoice) //$("#assignmentdetail").text(http.responseText)
                        if(table!=null){ 
                        table.destroy()
                         $("#invoicelines").empty()
                            }
                         table=$('#invoicelines').DataTable(
                         {
                            data: current_invoice.invoicelines,
                            columns: [
                                    //{ data: function (row){'value.meta.first_name' + "value.meta.last_name" }}
                                    {title:"Date", width:"15%",data: 'date',defaultContent:"None"},
                                    {title:"Particulars",width:"35%", data: 'particulars',defaultContent:"None",render: function(data){if(data){return data}}},
                                     {title:"Product",width:"10%", data: 'product',defaultContent:"None",render: function(data){if(data){return data}}},

                                    {title:"Rate",width:"10%", data: 'rate',defaultContent:"None",render: function(data){if(data){return data}}},
                                    {title:"Qty",width:"10%", data: 'qty', defaultContent:"None", render: function(data){if(data){return data}}},
                                    {title:"Amount",width:"20%", data: 'amount', defaultContent:"None", render: function(data){if(data){return data}}}
                                ]


                         });
                        $("#invoicetotal").empty()
                        $("#invoicetotal").append("<b>Total: </b>"+ current_invoice.total)
                    }
                }
                http.send(params);

            }
        var addassignment=function(assid){
                if(assignments.includes(assid)===false){
                    assignments.push(assid)
                }
                console.log(assignments)

            } 
        var removeassignment=function(assid){
                if(assignments.includes(assid)===true){
                   var index = assignments.indexOf(assid);
                        if (index > -1) {
                          assignments.splice(index, 1);
                        }
                }
                console.log(assignments)

            }  
        var addAll=function(){

                for(i=0;i<paginationApp.posts.length;i++){
                    addassignment(paginationApp.posts[i].assignment._id.$oid)
                }

            }
        var searchAssignments=function(){
                search_query={}
                search_query.date_frm=$("#date_frm").val()
                search_query.date_to=$("#date_to").val()
                search_query.cust_id=$("#cust_id").val()
                console.log(search_query)
                paginationApp.getPosts()

                var serverip="192.168.56.101"
                var assperpage=2
                var get_cust_list=function(){

                    $.getJSON('http://'+serverip+':5000/customer',function(data){
                        console.log(data.resp)
                        for (i=0;i<data.resp.length;i++){
                            $("#cust_id").append('<option>' + data.resp[i].cust_id + '</option>');
                        }
                        $("#cust_id").append('<option>retail</option>');

                        $("#cust_id").on("change", function(event) { 
                            console.log(this.value)
                            $("#cust_data").remove()
                            $("#cust_details").append("<div id='cust_data'>"+this.value+"</div>")
                        } );
                    })

                }
            }
        get_cust_list();
    </script>
    <script src="dist/js/pagination.js"></script>
    <script>
        $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
        $('#datetimepicker2').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
        $('#datetimepicker3').datetimepicker({format: 'YYYY-MM-DD HH:mm'});
    </script>
</body>
</html>