 <div class="container">
        <form action="/display" method="post" id="bookingForm"
        <fieldset>
        <label>customer name
          <input type="text" name="customername" id="customername"  required>
        </label>
        <label>Address
          <input type="text" name="address" id="address"  required>
        </label>
		 <label>
			Telephone:
			<input type="tel" name="usrtel">
			</label> 
          <label>
			Select a time:
			<input type="time" name="usr_time">
			</label> 
			</form>
 
        </fieldset>
      <button class="button-primary" type="submit" value="Submit" form="bookingForm">Book</button>
    </form>
  </div>
